.wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border: 2px solid gray;
    border-radius: 30px;
    padding: 20px 25px 0 25px;
    .textBox {
        display: flex;
        position: relative;
        flex-direction: column;
        border-bottom: 20px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        text-overflow: ellipsis;
        overflow-wrap: break-word;
        .textBox__tags {
            display: flex;
            gap: 5px;
            margin-top: 20px;
            bottom: 0;
            .textBox__tags__tag {
                border: 1px solid gray;
                border-radius: 8px;
                padding: 2px 4px;
                cursor: pointer;
            }
        }
        .ctrl__btns {
            display: flex;
            gap: 10px;
            margin-top: 10px;
        }
        .textBox__collapse {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgba(128, 128, 128, 0.88);
            background-color: rgba(128, 128, 128, 0.098);
            border-radius: 20px;
            height: 35px;
            width: 200px;
            margin: 20px auto 0 auto;
            cursor: pointer;
            .textBox__collapse__icon {
                width: 30px;
                height: 30px;
            }
        }
        .textBox__open {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid rgba(128, 128, 128, 0.88);
            background-color: rgba(128, 128, 128, 0.098);
            border-radius: 20px;
            height: 20px;
            width: 200px;
            margin: 20px auto 0 auto;
            cursor: pointer;
            .textBox__open__icon {
                transform: rotate(180deg);
                width: 20px;
                height: 20px;
            }
        }
    }
    .wrapper__title {
        font-size: 1.5rem;
    }
    .wrapper__content {
        margin-top: 10px;
        font-size: 1rem;
    }
    input {
        border: none;
    }
}
.wrapper__full {
    animation: spread 0.8s ease-in-out forwards;
}
.wrapper__preview {
    max-width: 500px;
    width: 28vw;
    height: 300px;
    overflow: hidden;
}
@media screen and (max-width: 1300px) {
    .wrapper__preview {
        max-width: none;
        width: 42vw;
        height: 300px;
    }
    .wrapper__full {
        max-width: none;
        width: 80vw;
    }
}

@media screen and (max-width: 900px) {
    .wrapper__preview {
        max-width: none;
        width: 80vw;
        max-height: 300px;
        height: fit-content;
    }
}

@keyframes spread {
    from {
        // max-width: 500px;
        width: 28vw;
        height: 300px;
        overflow: clip;
    }
    to {
        margin: 0 auto;
        max-width: 1200px;
        width: 80vw;
    }
}
