.wrapper {
  width: 100%;
  position: relative;
  user-select: none;
  .wrapper__panel {
    position: fixed;
    top: 60px;
    z-index: 1;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    background-color: rgba(33, 33, 33, 1);
    padding: 0 20px;
    height: 51px;
    .panel__right {
      display: flex;
      align-items: center;
      gap: 10px;
      margin: 0 0 0 auto;
      .panel__route {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
      }
      .panel__spacer {
        color: white;
        cursor: default;
        user-select: none;
      }
      .panel__link {
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        margin: 5px 8px 0 8px;
      }
    }
  }
  .panel__right__mobile {
    user-select: none;
    margin: 0 0 0 auto;
    position: relative;
    .mobile__blurBg {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      z-index: 1;
    }
    .mobile__btn {
      color: white;
      text-transform: uppercase;
      letter-spacing: -1.5px;
      font-size: min(2rem, 10vw);
      font-weight: 800;
      white-space: nowrap;
      text-decoration: none;
      z-index: 2;
    }
    .mobile__menu {
      background: rgba(33, 33, 33, 0.9);
      position: fixed;
      top: 0;
      bottom: 0;
      width: min(100%, 200px);
      display: flex;
      flex-direction: column;
      z-index: 2;
      .mobile__menu__btn {
        color: white;
        font-weight: 800;
        font-size: min(2rem, 10vw);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 10px;
      }
      .mobile__menu__routes {
        justify-self: flex-start;
      }
      .route {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
        background-color: #424242;
        margin: 20px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;
      }
      .mobile__menu__links {
        margin-top: auto;
        margin-bottom: 20px;
        width: 80%;
        align-self: center;
        display: flex;
        justify-content: space-around;
        .link {
          color: white;
          font-size: 1.5rem;
        }
      }
    }
  }
}
.hideMobilePanelAnimation {
  .mobile__menu {
    animation: hidePanelAnimation linear;
    animation-fill-mode: both;
  }
  .mobile__blurBg {
    animation: mobileMenuFadeOut linear;
    animation-fill-mode: both;
  }
}
.displayMobilePanelAnimation {
  .mobile__menu {
    right: -100%;
    animation: menuAnimationBar ease-in-out 0.6s;
    animation-fill-mode: both;
  }
  .mobile__blurBg {
    backdrop-filter: blur(0);
    animation: mobileMenuFadeIn linear 0.6s;
    animation-fill-mode: both;
  }
}
.displayMobilePanelStatic {
  .mobile__menu {
    right: 0;
  }
  .mobile__blurBg {
    backdrop-filter: blur(10px);
  }
}
.hideMobilePanelStatic {
  .mobile__menu {
    right: -100%;
  }
  .mobile__blurBg {
    backdrop-filter: blur(0);
  }
}
@keyframes hidePanelAnimation {
  to {
    right: -100%;
  }
}

@keyframes menuAnimationBar {
  to {
    right: 0;
  }
}
@keyframes mobileMenuFadeIn {
  to {
    backdrop-filter: blur(10px);
  }
}
@keyframes mobileMenuFadeOut {
  to {
    backdrop-filter: blur(0);
  }
}
