.wrapper {
  width: 100%;
  position: relative;
  .wrapper__panel {
    position: absolute;
    top: 60px;
    z-index: 1;
    width: calc(100% - 40px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    background: linear-gradient(
      to top,
      transparent 0%,
      rgba(0, 0, 0, 0.72) 100%
    );
    padding: 0 20px;
    .panel__logo {
      text-decoration: none;
      color: white;
      font-weight: 800;
      font-size: 2rem;
    }
    .panel__right {
      display: flex;
      align-items: center;
      gap: 10px;
      .panel__route {
        text-decoration: none;
        color: white;
        font-size: 1.1rem;
      }
      .panel__spacer {
        color: white;
        cursor: default;
        user-select: none;
      }
      .panel__link {
        text-decoration: none;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        margin: 5px 8px 0 8px;
      }
    }
  }
}
