@import "./../../style/variables.module.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    justify-items: center;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    .post {
        display: flex;
        flex-direction: column;
        .post__inputs {
            display: flex;
            flex-direction: column;
            gap: 10px;
            input {
                width: 200px;
            }
            .post__inputs__tags {
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: flex-start;
                align-items: center;
                Button {
                    height: 40px;
                }
                .inputs__tags__container {
                    display: flex;
                    justify-content: center;
                    flex-wrap: wrap;
                    gap: 10px;
                    div {
                        width: fit-content;
                        overflow: visible;
                        padding: 5px 8px;
                        cursor: pointer;
                        user-select: none;
                    }
                    .tags__cards__badge {
                        position: relative;
                        .tags__badges__mask {
                            display: flex;
                            justify-content: center;
                            align-content: center;
                            background-color: transparent;
                            color: transparent;
                            margin: -5px -8px;
                            width: calc(100% - 16px);
                            border-radius: 4px;
                            transition: all .2s .3s ease-in;
                            position: absolute;
                            user-select: none;
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.811);
                                color: white;
                            }
                        }
                    }
                }
                .inputs__tags__ctrl {
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    justify-content: flex-start;
                    input {
                        width: 80vw;
                        min-width: 100px;
                        max-width: 200px;
                    }
                    @media screen and (max-width: 400px) {
                        flex-direction: column;
                    }
                }
            }
        }
    }
}
