$whiteColor: rgba(229, 229, 229, 1);

.wrapper {
  .wrapper__slider {
    height: calc(100vh - 50px);
    .wrapper__slider__slide {
      position: relative;
      .slide__image__back {
        .img {
          width: 100vw;
          height: calc(100vh - 60px);
          object-fit: cover;
        }
        .mask {
          position: absolute;
          z-index: 100;
          background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.8));
          height: calc(100vh - 60px);
          width: 100%;
        }
        z-index: 10;
      }
      .slide__content {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        bottom: min(140px, 10vh);
        left: min(70px, 5vw);
        padding-right: min(15vw, 300px);
        text-overflow: clip;
        @media (max-height: 670px) {
          bottom: max(5vh, 20px);
        }
        .slide__content__tags {
          display: flex;
          gap: 10px;
        }
        .slide__content__title {
          color: white;
          font-size: min(2.25rem, 8vw, 8vh);
          margin-top: min(15px, 2vh);
          margin-right: 30px;
        }
        .slide__content__preview {
          display: flex;
          flex-direction: row;
          margin-top: min(15px, 2vh);
          .preview__date {
            color: $whiteColor;
            font-size: 0.75rem;
          }
          span {
            margin: 8px 10px auto 10px;
            height: 0;
            min-width: 30px;
            border: 1px solid $whiteColor;
            @media (max-width: 320px) {
              display: none;
            }
            @media (max-height: 430px) {
              display: none;
            }
          }
          .preview__content {
            color: $whiteColor;
            font-size: 0.75rem;
            margin-right: 30px;
            @media (max-width: 320px) {
              display: none;
            }
            @media (max-height: 430px) {
              display: none;
            }
          }
        }
      }
    }
    ul {
      position: absolute;
      margin: auto auto 70px 70px;
      width: fit-content;
      li {
        button:before {
          color: white;
          font-size: 8px;
        }
      }
    }
    .slider__dots {
      @media (max-height: 670px) {
        display: none !important;
      }
    }
  }
}
