@import "/src/shared/style/vars";

.wrapper {
  position: relative;
  user-select: none;
  &__content {
    width: 80vw;
    height: 100dvh;
    padding: 0 10vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
    font-size: min(3rem, 10vw);
    font-weight: 800;
    color: white;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.4);
    span {
      font-size: min(1.5rem, 10vw);
      font-weight: 700;
    }
  }
  &__bg {
    width: 100vw;
    height: 100dvh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border: none;
      outline: none;
    }
  }
}
